{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
  <title>重置密码</title>
    <link href="{% static 'css/icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

</head>

<body>


 <!--Start login Section-->
  <section class="login-section">
       <div class="container">
           <div class="row">
               <div class="login-wrapper">
                   <form action="{% url 'main:change_password' %}" method="post">
                       {% csrf_token %}
                        <div class="login-inner">
                       
                       <div class="logo">
                         <img src="{% static 'images/logo-dark.png' %}"  alt="logo"/>
                       </div>
                   		
                   		<h2 class="header-title text-center">重置密码 </h2>
                        
                        <div class="alert alert-info alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
								×
							</button>
							核对您的 <b>用户名与邮箱</b> 确认后输入新的密码，点击重置即可
						</div>
                        
                       <form>
                           <div class="form-group">
                               <input type="text" class="form-control"   value="{{ username }}" readonly="readonly" name="username"  placeholder="用户名" >
                           </div>

                           <div class="form-group">
                               <input type="email" class="form-control" name="email" value="{{ email }}"  readonly="readonly" placeholder="邮箱" >
                           </div>

                           <div class="form-group">
                               <input type="password" class="form-control" name="password" placeholder="新密码" >
                           </div>

                           <div class="form-group">
                               <input type="password" class="form-control" name="make_sure_password" placeholder="确认密码" >
                           </div>

                           <div class="form-group">
                                <input type="text" class="form-control" name="code"  placeholder="验证码" >
                               <img  src="{% url 'main:ver_code' %}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span id="img"> 看不清？点击图片换一张 </span>
                           </div>
                          
                           <div class="form-group">
                               <input type="submit" value="重置" class="btn btn-primary btn-block" >
                           </div>
                           
                       </form>
                       
                        <div class="copy-text"> 
                         <p class="m-0">2021 &copy; made by 谢瑞雪</p>
                        </div>
                    
                   </div>
                   </form>
               </div>
               
           </div>
       </div>
  </section>
    <!--Begin core plugin -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/moment/moment.js' %}"></script>
    <script  src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/change' %}"></script>
    <!-- End core plugin -->
       

</body>

</html>
